
<section class="bg-zinc-900 w-full text-white text-center px-4 py-4 md:px-8 flex flex-col items-center">
    
    {% import "sections/sectiontitle-macro.njk" as macro %}
    {{ macro.sectiontitle("Contact & Resume") }}

    <div class="grid grid-cols-1 max-w-5xl mx-auto mt-8">
        
        <div class="hover:text-[#FAB406]">
            <iframe src="./assets/WyattHansen_Resume.pdf" style="width:500px; height:500px" frameborder="0"></iframe>

        </div>

    </div>

    
</section>