
<section id="Diplomas" class=" bg-zinc-900 w-full text-white text-center px-4 py-8 md:px-8 flex flex-col items-center">
    
    {% import "sections/sectiontitle-macro.njk" as macro %}
    {{ macro.sectiontitle("Diplomas & Certifications") }}

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-5xl mx-auto mt-8">
        {% import "sections/sectioncards-macro.njk" as macro %}
        <a href="https://catalog.tamu.edu/undergraduate/engineering/electrical-computer/computer-engineering-bs/" class="transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-500" target="_blank">
            {{ macro.sectioncards("./assets/Diplomas/TamuComputerEngineering.png", 
                "Computer Engineering and Cyber Security", 
                "Completion of my Bachelors in Computer Engineering with a Minor in Cyber Security - From Texas A&M University Graduating Class of 2021.") }}
        </a>
        <a href="https://www.lonestar.edu/" class="transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-500" target="_blank">
            {{ macro.sectioncards("./assets/Diplomas/LoneStarCollege.png", 
                "Associates General Education", 
                "This Associates was completed in 2017 while I was enrolled in an Early College program during High School from Lone Star University.") }}
        </a>
        <a href="https://www.udemy.com/course/mastering-rtos-hands-on-with-freertos-arduino-and-stm32fx/" class="transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-500" target="_blank">
            {{ macro.sectioncards("./assets/Diplomas/UdemyFreeRTOS.png", 
                "FreeRTOS Course", 
                "I completed this course using a STM32 Nucleo Board and aquired a comprehensive understanding of RTOS principles, encompassing key concepts such as Tasks, Scheduling, Semaphores, Queues, Mutexes, Context Switching, and advanced debugging techniques employing SEGGER SystemView.") }}
        </a>
        <a href="https://www.udemy.com/course/embedded-system-programming-on-arm-cortex-m3m4/" class="transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-500" target="_blank">
            {{ macro.sectioncards("./assets/Diplomas/UdemyEmbeddedSystemsProgramming.jpg", 
                "Embedded Systems Programming on ARM Cortex-M3/M4 Processor", 
                "I completed this course using a STM32 Nucleo Board and aquired a comprehensive understanding of Embedded Systems principles, encompassing key concepts such as C, Inline Assembly, Bus Interfaces, NVIC, Exception Handling, IRQ, and implemented a task scheduler using Round Robin Prioritization, PENDSV and SYSTICK.") }}
        </a>
        
    </div>
    
</section>