
<section class=" bg-zinc-900 w-full text-white text-center px-4 py-4 md:px-8 flex flex-col items-center">
    
    {% import "sections/sectiontitle-macro.njk" as macro %}
    {{ macro.sectiontitle("Diplomas & Certifications") }}

    <div class="grid grid-cols-2 gap-8 max-w-5xl mx-auto mt-8">
        {% import "sections/sectioncards-macro.njk" as macro %}
        {{ macro.sectioncards("./assets/Head-BW.jpeg", "Bachelors of Science for Computer Engineering", "From Texas A&M University") }}
        {{ macro.sectioncards("./assets/Head-BW.jpeg", "Associates General Education", "From Lone Star University") }}
        {{ macro.sectioncards("./assets/Head-BW.jpeg", "UDEMY RTOS Course", "Successfully did stuff that sounds impressive with quantified results.") }}
        {{ macro.sectioncards("./assets/Head-BW.jpeg", "Certified AutoDesk Draftsman", "Successfully did stuff that sounds impressive with quantified results.") }}
    
    </div>
    
</section>