
<section id="Diplomas" class=" bg-zinc-900 w-full text-white text-center px-4 py-8 md:px-8 flex flex-col items-center">
    
    {% import "sections/sectiontitle-macro.njk" as macro %}
    {{ macro.sectiontitle("Diplomas & Certifications") }}

    <div class="grid grid-cols-2 gap-8 max-w-5xl mx-auto mt-8">
        {% import "sections/sectioncards-macro.njk" as macro %}
        <a href="https://catalog.tamu.edu/undergraduate/engineering/electrical-computer/computer-engineering-bs/" class="transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-500" target="_blank">
            {{ macro.sectioncards("./assets/Diplomas/TamuComputerEngineering.svg", "Computer Engineering - BS", "Minor in Cyber Security - From Texas A&M University") }}
        </a>
        <a href="https://www.lonestar.edu/" class="transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-500" target="_blank">
            {{ macro.sectioncards("./assets/Diplomas/LoneStarCollege.png", "Associates General Education", "From Lone Star University") }}
        </a>
        <a href="https://www.udemy.com/course/mastering-rtos-hands-on-with-freertos-arduino-and-stm32fx/" class="transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-500" target="_blank">
            {{ macro.sectioncards("./assets/Diplomas/UdemyFreeRTOS.jpg", "UDEMY RTOS Course", "Successfully did stuff that sounds impressive with quantified results.") }}
        </a>
        
    </div>
    
</section>