
<section id="Experiences" class="bg-rose-950 w-full text-white text-center px-4 py-8 md:px-8 flex flex-col items-center">
    
    {% import "sections/sectiontitle-macro.njk" as macro %}
    {{ macro.sectiontitle("Experiences") }}

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-5xl mx-auto mt-8">
        {% import "sections/sectioncards-macro.njk" as macro %}
        
        {{ macro.sectioncards("./assets/Experiences/GenesisDimensions.png", 
            "Genesis Dimensions", 
            "As an Engineering Intern, I achieved the successful installation and deployment of Taiga, an open-source Agile project management tool, on in-house servers, significantly elevating project coordination and management capabilities. Additionally, I provided valuable support in the manufacturing and integration of industrial control panels for a Kuka Robot and a Material Flow Control System.") }}
        
        <a href="https://www.arringtonautomation.com/" class="transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-500" target="_blank">
            {{ macro.sectioncards("./assets/Experiences/ArringtonAutomation.jpg", 
                "Arrington Automation", 
                "As an Engineering Intern I collaborated with a team of engineers to contribute to the design, testing, manufacturing, and integration processes of control panels for industrial control systems.") }}
        </a>
        
        <a href="https://www.buildtamu.com/" class="transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-500" target="_blank">
            {{ macro.sectioncards("./assets/Experiences/BUILD.png", 
                "BUILD", 
                "During my dedicated three-year tenure as a volunteer with Build, I held the pivotal role of Design Command Team Leader and was an integral member of the Construction Command Team. Build is a student-led philanthropic organization dedicated to the construction of medical clinics in third-world countries, fostering unity and purpose within the student body.") }}
        </a>

    </div>
    
</section>