
<section class="bg-rose-950 w-full text-white text-center px-4 py-4 md:px-8 flex flex-col items-center">
    
    {% import "sections/sectiontitle-macro.njk" as macro %}
    {{ macro.sectiontitle("Experiences") }}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 max-w-5xl mx-auto mt-8">
        {% import "sections/sectioncards-macro.njk" as macro %}
        {{ macro.sectioncards("./assets/Experiences/GenesisDimensions.png", "Genesis Dimensions", "Successfully did stuff that sounds impressive with quantified results.") }}
        {{ macro.sectioncards("./assets/Experiences/ArringtonAutomation.png", "Arrington Automation", "Successfully did stuff that sounds impressive with quantified results.") }}
        {{ macro.sectioncards("./assets/Experiences/BUILD.png", "BUILD", "Successfully did stuff that sounds impressive with quantified results.") }}
    </div>
    
</section>