
<section id="Landing" class="bg-zinc-900 w-full text-white text-center px-4 py-8 md:px-8 flex flex-col items-center">
    <div>
        <h1 class="text-6xl py-4 md:px-4">Wyatt Hansen</h1>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-5xl mx-auto mt-8 items-center justify-center">
        <img src="./assets/Head-BW.jpeg" class="rounded-lg object-cover w-full aspect-square"/> 
        <div class="opacity-80 text-sm">
            <h2 class="text-justify text-xl py-4 md:px-4">As a Computer Engineering graduate from Texas A&M University, I have a strong foundation in Embedded Systems and Computer Science. I am eager to join a high-caliber engineering team and apply my skills and knowledge to engineering projects that can make a positive impact on the world.</h2>
        </div>
    </div>
    
</section>