
<section class="bg-rose-950 w-full text-white text-center px-4 py-4 md:px-8 flex flex-col items-center">
    
{% import "sections/sectiontitle-macro.njk" as macro %}
{{ macro.sectiontitle("Engineering Projects") }}

<div class="grid grid-cols-2 gap-8 max-w-5xl mx-auto mt-8">
    {% import "sections/sectioncards-macro.njk" as macro %}
    {{ macro.sectioncards("./assets/Head-BW.jpeg", "Camera and Lidar Data Synchronization", "Successfully did stuff that sounds impressive with quantified results.") }}
    {{ macro.sectioncards("./assets/Head-BW.jpeg", "LoRa Gate Opener and Alarm System", "Successfully did stuff that sounds impressive with quantified results.") }}
    {{ macro.sectioncards("./assets/Head-BW.jpeg", "Custom RC Car Controlled over WiFi", "Successfully did stuff that sounds impressive with quantified results.") }}
    {{ macro.sectioncards("./assets/Head-BW.jpeg", "Line Following Robot", "Successfully did stuff that sounds impressive with quantified results.") }}
    {{ macro.sectioncards("./assets/Head-BW.jpeg", "Table Rover", "Successfully did stuff that sounds impressive with quantified results.") }}

</div>
    
</section>