
<section id="Engineering" class="bg-rose-950 w-full text-white text-center px-4 py-8 md:px-8 flex flex-col items-center">
    
{% import "sections/sectiontitle-macro.njk" as macro %}
{{ macro.sectiontitle("Engineering Projects") }}

<div class="grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-5xl mx-auto mt-8">
    {% import "sections/sectioncards-macro.njk" as macro %}

    {{ macro.sectioncards("./assets/EngineeringProjects/CameraAndLidarDataSynchronization.jpg", 
        "Camera and Lidar Data Synchronization", 
        "Successfully did stuff that sounds impressive with quantified results.") }}
    
    {{ macro.sectioncards("./assets/WebsiteUnderConstruction.png", 
        "HC-12 Gate Opener and Alarm System", 
        "Successfully did stuff that sounds impressive with quantified results.") }}
    
    {{ macro.sectioncards("./assets/EngineeringProjects/LineFollowingRobot2.jpg", 
        "Line Following Robot", 
        "Successfully did stuff that sounds impressive with quantified results.") }}

    {{ macro.sectioncards("./assets/EngineeringProjects/WiFiControlledCar.jpg", 
        "WiFi Controlled Car", 
        "Successfully did stuff that sounds impressive with quantified results.") }}
    
    {{ macro.sectioncards("./assets/EngineeringProjects/TableRover.jpg", 
        "Table Rover", 
        "Successfully did stuff that sounds impressive with quantified results.") }}

</div>
    
</section>