
<section id="Personal" class="bg-zinc-900 w-full text-white text-center px-4 py-8 md:px-8 flex flex-col items-center">
    
    {% import "sections/sectiontitle-macro.njk" as macro %}
    {{ macro.sectiontitle("Personal Projects") }}

    <div class="grid grid-cols-2 gap-8 max-w-5xl mx-auto mt-8">
        {% import "sections/sectioncards-macro.njk" as macro %}
        {{ macro.sectioncards("./assets/PersonalProjects/SofleKeyboard.jpg", "Sofle Keyboard", "Successfully did stuff that sounds impressive with quantified results.") }}
        {{ macro.sectioncards("./assets/PersonalProjects/SterlingEngine2.jpg", "Sterling Engine", "Successfully did stuff that sounds impressive with quantified results.") }}
        {{ macro.sectioncards("./assets/PersonalProjects/PneumaticEngine.jpg", "Pneumatic Engine", "Successfully did stuff that sounds impressive with quantified results.") }}
        {{ macro.sectioncards("./assets/PersonalProjects/3DPrintedDrone2.jpg", "3D Printed Drone", "Successfully did stuff that sounds impressive with quantified results.") }}
        {{ macro.sectioncards("./assets/PersonalProjects/PeckyCypressEpoxyPebbleFoyerTable.jpg", "Pecky Cypress Epoxy Pebble Foyer Table", "Successfully did stuff that sounds impressive with quantified results.") }}
        {{ macro.sectioncards("./assets/PersonalProjects/3DPrinting2.jpg", "3D Printers", "Successfully did stuff that sounds impressive with quantified results.") }}
    </div>
    
</section>