
<section id="Engineering" class="bg-rose-950 w-full text-white text-center px-4 py-8 md:px-8 flex flex-col items-center">
    
{% import "sections/sectiontitle-macro.njk" as macro %}
{{ macro.sectiontitle("Engineering Projects") }}

<div class="grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-5xl mx-auto mt-8">
    {% import "sections/sectioncards-macro.njk" as macro %}

    {# {{ macro.sectioncards("./assets/EngineeringProjects/HomeSecuritySystemAndGateOpener.jpg", 
        "Home Security System and Gate Opener", 
        "Successfully did stuff that sounds impressive with quantified results.") }} #}

    {{ macro.sectioncards("./assets/EngineeringProjects/RobotArm_stm32.jpeg", 
        "STM32 Robotic Arm Project", 
        "3D Printed Robotic Arm with an STM32 micro-controller, integrating a smaller robot as the primary controller using a Super Loop Control methodology. Using STM32 HAL I mapped the readings of the Potentiometers using the ADC Peripheral to control the servos through a Servo Driver with I2C communication. Credits: YouTube Channel 'Build Some Stuff' - Robotic Arm Design and STL files for 3D Printing, Github User 'Lamik' - PCA9685 Servo Driver for STM32.") }}
    
    {{ macro.sectioncards("./assets/EngineeringProjects/CameraAndLidarDataSynchronization.jpg", 
        "Camera and Lidar Data Synchronization", 
        "As the Team Lead, I spearheaded my Senior Project, overseeing the successful synchronization and visualization of data originating from a Camera and Lidar in conjunction with the precise PPS signal from an external GPS, a sophisticated process commonly referred to as Sensor Fusion. The project leveraged ROSpy and RViz for advanced data visualization.") }}
    
    {{ macro.sectioncards("./assets/EngineeringProjects/LineFollowingRobot2.jpg", 
        "Line Following Robot", 
        "Designed and developed an autonomous car utilizing a Xilinx BASYS 3 FPGA, 2 DC motors, and Capacitance Sensors, enabling it to autonomously track and follow a 5V current-carrying wire on the floor. Collaborated closely with a team of two engineering students to successfully complete this project for my Digital Electronics Class.") }}

    {{ macro.sectioncards("./assets/EngineeringProjects/WiFiControlledCar.jpg", 
        "WiFi Controlled Car", 
        "Successfully implementing motor control for four DC motors through the generation of PWM signals via a TI Launchpad CC3200-LAUNCHXL, enabling wireless control over WiFi. A 3D printer was also utilized to manufacture the mechanical frame. Collaborated effectively with a team of four engineering students for the completion of the project for my Foundations of Engineering 112 Class.") }}
    
    {{ macro.sectioncards("./assets/EngineeringProjects/TableRover.jpg", 
        "Table Rover", 
        "Lego MINDSTORMS EV3 was used to build a Table Rover with an Ultrasonic Sensor to detect the edge of the table and turn with-out falling off. This project was completed as a team of 3 engineering students, for my Foundations of Engineering 111 class.") }}

</div>
    
</section>