
{% macro sectioncards(picture, heading, paragraph) %}

<div class='flex items-center justify-center'>
  <div class="aspect-video rounded-xl relative group">
        <img
            alt=""
            class="rounded-lg object-cover w-full aspect-square "
            src={{ picture }}
            />
            <div class="space-y-3 text-xl ">
                <div class="font-bold">{{ heading }}</div>
                <div class="text-justify opacity-80 text-sm">{{ paragraph }}</div>
            </div>
    </div>
 </div>

{% endmacro %}