<header class="w-full bg-zinc-900 px-auto py-1 md:px-8 sticky top-0 z-50">
    <nav class= "text-white w-100 px-8 md:px-auto">
        <div class="h-1rem mx-auto md:px-4 container flex items-center justify-between flex-wrap md:flex-nowrap">
            
            <div class="hover:text-gray-600">
                <a href="#Landing" class="flex items-center flex-wrap justify-between">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6 text-gray-600">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                    </svg>
                    <h1 class="p-2 hidden md:block text-sm md:text-base ">Wyatt Hansen</h1>
                </a>
            </div>
    
            <div class="md:w-auto">
                <ul class="flex justify-between text-sm md:text-base">
                    <li class="p-1 hover:text-gray-600"><a href="#Engineering">Engineering</a>
                        <hr class="rounded w-1rem flex-grow border-2 border-gray-600"/>
                    </li>
                    <li class="p-1 hover:text-gray-600"><a href="#Personal">Personal</a>
                        <hr class="rounded w-1rem flex-grow border-2 border-gray-600"/>
                    </li>
                    <li class="p-1 hover:text-gray-600"><a href="#Experiences">Experiences</a>
                        <hr class="rounded w-1rem flex-grow border-2 border-gray-600"/>
                    </li>
                    <li class="p-1 hover:text-gray-600"><a href="#Diplomas">Diplomas</a>
                        <hr class="rounded w-1rem flex-grow border-2 border-gray-600"/>
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>
</header>
