<section id="Personal" class="bg-zinc-900 w-full text-white text-center px-4 py-8 md:px-8 flex flex-col items-center">
    
    {% include sectiontitle.html section_title="Personal Projects" %}

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-5xl mx-auto mt-8">
        
        <a href="https://github.com/WyattH99/SoflRGBv2.1" class="transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-500 outline-[bg-zinc-900] hover:outline rounded-xl" target="_blank">
            {% include sectioncards.html picture="./assets/PersonalProjects/SofleKeyboard.jpg" 
            heading="Sofle Keyboard" 
            paragraph="Constructed the Sofle Keyboard as a means to further my expertise in electronics, soldering, and programming. With the keyboard completed my next goal is to develop custom firmware for the keyboard." %}
        </a>
        {% include sectioncards.html picture="./assets/PersonalProjects/SterlingEngine1.jpg" 
            heading="Sterling Engine" 
            paragraph="In my high school education, I actively participated in Skills USA and this engine achieved qualification for the State Competition in 2017. I meticulously crafted all engine components using a combination of CNC along with manual milling and lathe techniques. Additionally, I excelled in the Manual and Automated Machinist Competition." %}
        
        {% include sectioncards.html picture="./assets/PersonalProjects/PneumaticEngine.jpg" 
            heading="Pneumatic Engine" 
            paragraph="During my high school education, I successfully completed the construction of this engine, which was showcased at the Montgomery County Fair. The project involved the skilled utilization of metal and wood lathes as well as milling equipment." %}
        
        {% include sectioncards.html picture="./assets/PersonalProjects/3DPrintedDrone2.jpg" 
            heading="3D Printed Quad-copter" 
            paragraph="During my high school education, driven by a passion for electronics and a keen interest in 3D printing technology, I constructed an RC Quad-copter." %}
        
        {% include sectioncards.html picture="./assets/PersonalProjects/PeckyCypressEpoxyPebbleFoyerTable.jpg" 
            heading="Pecky Cypress Epoxy Pebble Foyer Table" 
            paragraph="I also accomplished the construction of this table, which served as a featured exhibit at the Montgomery County Fair during my high school education. This endeavor encompassed a diverse range of woodworking techniques, tools, and machinery." %}
        
        {% include sectioncards.html picture="./assets/PersonalProjects/3DPrinting2.jpg" 
            heading="3D Printers" 
            paragraph="During my high school education, I procured my initial 3D printer, sparking a prolific journey of creating numerous models and prints using CAD software." %}

    </div>
    
</section>