---
title: Wyatt Hansen
layout: "layouts/base.njk"
---

{% include "sections/landing.html" %}

{% include "sections/portfolio-engineering-proj.njk" %}

{% include "sections/portfolio-personal-proj.njk" %}

{% include "sections/experiences.njk" %}

{% include "sections/diplomas&certifications.njk" %}


{# {% include "sections/contact&resume.njk" %} #}
