<footer class="bg-zinc-900 w-full text-center px-6 py-2 mt-auto md:px-8 sticky bottom-0 text-gray-600">
    <div class="grid grid-cols-4 max-w-xs mx-auto mt-1">
        <div class="flex space-x-1 group relative transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-500">
            <a href="mailto: WyattHansen99@gmail.com" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-600">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                </svg>
                <div class="md:hidden max-w-7xl mx-auto">
                    <p class="text-sm">Email</p>
                </div>
            </a>
            <span class="group-hover:opacity-100 duration-500 bg-zinc-900 px-1 text-sm text-gray-600 rounded-md absolute  bottom-[75%] left-[25%] -translate-x-[50%] opacity-0 m-4 mx-auto">Email</span>
        </div>
        <div class="flex space-x-1 group relative transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-500">
            <a href="https://www.linkedin.com/in/wyatth99" target="_blank">
                <img src="./assets/LinkedIn_icon.svg" class="w-6 h-6"></img>
                <div class="md:hidden max-w-7xl mx-auto">
                    <p class="text-sm">LinkedIn</p>
                </div>
            </a>
            <span class="group-hover:opacity-100 duration-500 bg-zinc-900 px-1 text-sm text-gray-600 rounded-md absolute  bottom-[75%] left-[25%] -translate-x-[50%] opacity-0 m-4 mx-auto">LinkedIn</span>
        </div>
        <div class="flex space-x-1 group relative transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-500">
            <a href="https://github.com/WyattH99" target="_blank">
                <img src="./assets/github-mark.svg" class="w-6 h-6"></img>
                <div class="md:hidden max-w-7xl mx-auto">
                    <p class="text-sm">GitHub</p>
                </div>
            </a>
            <span class="group-hover:opacity-100 duration-500 bg-zinc-900 px-1 text-sm text-gray-600 rounded-md absolute  bottom-[75%] left-[25%] -translate-x-[50%] opacity-0 m-4 mx-auto">GitHub</span>
        </div>
        <div class="flex space-x-1 group relative transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-500">
            <a href="./assets/WyattHansen_Resume.pdf" target="_blank">
                <img src="./assets/hands-profile-resume-svgrepo-com.svg" class="w-6 h-6"></img>
                <div class="md:hidden max-w-7xl mx-auto">
                    <p class="text-sm">Resume</p>
                </div>
            </a>
            <span class="group-hover:opacity-100 duration-500 bg-zinc-900 px-1 text-sm text-gray-600 rounded-md absolute  bottom-[75%] left-[25%] -translate-x-[50%] opacity-0 m-4 mx-auto">Resume</span>
            
        </div>
    </div>
        
          
    </div>
</footer>